<a href="{{reading.resource.link}}" target="_blank"">
  <div class="card reading_card">
    <div class="card-body">
      <b>{{reading.resource.name}}</b>
      </br>
      <!-- METADATA -->
      <div class="text-muted">
        {% if reading.resource.depth_str() != None %}
          Depth: {{reading.resource.depth_str()}}  |
        {% endif %}
        {% if reading.resource.type_str() != None %}
          Type: {{reading.resource.type_str()}} |
        {% endif %}
        {% if reading.resource.type_str() != None %}
          Estimated Time: {{reading.resource.est_time}} minutes |
        {% endif %}
      </div>
      <!-- METADATA END -->
      <p>{{reading.description}}</p>
    </div>
  </div>
</a>
