{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/studyplans/new.css') }}">
    <script src="{{ url_for('static', filename='js/studyplans/new.js') }}"></script>
{% endblock %}

{% block app_content %}
<form>
  <!-- HIDDEN INPUTS -->
  <input id="hiddenInput_prereqs" type="hidden" name="prerequisites" value="hello!">
  <input id="hiddenInput_topics" type="hidden" name="topics" value="">
  <input id="hiddenInput_readings_to_topic_idx" type="hidden" name="readings_to_topic_idx" value="">
  <input id="hiddenInput_reading_names" type="hidden" name="reading_names" value="">
  <input id="hiddenInput_reading_links" type="hidden" name="reading_links" value="">
  <!-- HIDDEN INPUTS END -->

  <div class="form-group">
    <label for="prereqs">Prerequisites</label>
    </br>
    <div id="prereqs-input" data-name="prereqs-input">
    </div>
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" placeholder="Title">
  </div>

  <div class="form-group">
    <label for="main-concept">About</label>
    <input type="text" class="form-control" placeholder="Main concept">
  </div>

  <div class="form-group">
    <label for="main-concept">Description</label>
    <input type="text" class="form-control" placeholder="...">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<div id="studyplans-creator_wrapper">
  <!-- <div class="studyplans-creator_week">
    <h4> Week 1 </h4>
    <div class="studyplans-creator_week_resources card">
    </div>

  </div> -->
</div>
<button type="button" class="btn btn-secondary" onclick="addTopic()">Add a Topic</button>
{% endblock %}
