{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block app_content %}
<div class="container">
  <div class="title">
    <h1> Title: {{studyplan.title}} </h1>
  </div>
  <h4>
    Prerequsites:
    {% for prerequisite in studyplan.concept.prerequisites %}
      <span class="badge badge-pill badge-secondary">{{prerequisite.title}}</span>
    {% endfor %}
  </h4>

  <div class="topics">
    {% for topic in studyplan.topics %}
      {% with topic = topic %}
        {% include "studyplans/_topic.html" %}
      {% endwith %}
    {% endfor %}
  </div>
</div>
{% endblock %}
