.wrapper {
    display: flex;
    /* width: 100%; */
    align-items: stretch;
}

.content {
  flex: 1;
}

.concept_card_resource {
  display: inline;
}

/* STUDYPLAN CREATOR */
#studyplan_creator {
    flex: 0;
    display: None;
    height: 100vh;
    background: black;
    color: #fff;
    transition: all 0.3s;
}

#studyplan_creator.active {
    flex: 1;
    display: block;
    transition: all 0.3s;
    padding: 10px;
}

.concepts {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.concept_card {
  flex: 1;
  margin: 15px;
}

.studyplans-creator_week_resources {
  background-color: grey;
  min-height: 100px;
  display: flex;
  /* flex-wrap: wrap; */
}

.studyplan_creator_week_resources_card {
  /* flex: 1; */
  /* height: 15px; */
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
