{% extends "base.html" %}

{% block app_content %}

<form action="{{ url_for('artifacts.search') }}" method="GET" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

  <div class="input-group">
    <input id="search-term-input" name="term" type="text" class="form-control bg-light border-0 small" placeholder="search artifacts" aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit" value="Submit">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <!-- filter -->
  <div class="search-filters">
      <select name="mediatype">
        <option value="">Media Type</option>
        <option value="1">Text</option>
        <option value="2">Video</option>
        <option value="0">Other</option>
      </select>
      <select name="duration">
        <option value="">Duration</option>
        <option value="min">Minutes</option>
        <option value="day">Days</option>
        <option value="month">Months</option>
        <option value="long">?!</option>
      </select>
  </div>
</form>
{% endblock %}
