<a href="{{url_for('artifacts.view', artifact_id=artifact.id)}}" class="neutral-link">
<div class="artifact_card card">
  <div class="card-body">
    <h5 class="card-title">
      <span class="badge alert-primary">{{artifact.concept.title}}</span>:
      {{artifact.title}}
    </h5>
    <!-- METADATA -->
    <div class="artifact_card-metadata">
      {% if artifact.duration != 0 %}
        <span>
          <i class="fas fa-clock"></i>
          {{artifact.duration_str()}}
        </span>
      {% endif %}
      {% if artifact.mediatype != 0 %}
        <span>
          <i class="fas fa-images"></i>
          {{artifact.mediatype_str()}}
        </span>
      {% endif %}
      {% if artifact.source is not none %}
        <span>
          <i class="fas fa-university"></i>
          {{artifact.source.name}}
        </span>
      {% endif %}
    </div>
    </br>
    <!-- METADATA END-->
    <p>
      Prerequisites:
      {% for prereq in artifact.prerequisites%}
        <span class="badge alert-danger">{{prereq.title}}</span>
      {% endfor %}
      </br>
      Chunks:
      {% for chunk in artifact.chunks %}
        <span class="badge alert-info">{{chunk.concept.title}}</span>
      {% endfor %}
    </p>
  </div>
</div>
</a>
