{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/artifacts/new.css') }}">
    <script src="{{ url_for('static', filename='js/artifacts/new.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/taggle/dist/taggle.min.js') }}"></script>
{% endblock %}

{% block app_content %}
<div class="container">
  <form id="artifact-form" action="{{ url_for('artifacts.new') }}" method="POST">
    {{ form.prerequisites.label }}: {{ form.prerequisites }}
    {{ form.main_concept.label }}: {{ form.main_concept }}
    {{ form.title.label }}: {{ form.title }}
    {{ form.source.label }}: {{ form.source }}
    {{ form.source_link.label }}: {{ form.source_link }}
    {{ form.description.label }}: {{ form.description }}
    {{ form.mediatype.label }}: {{ form.mediatype }}
    {{ form.duration.label }}: {{ form.duration }}

    <div data-toggle="fieldset" id="chunks-fieldset">
         <table>
            <tr>
                <th>concept</th>
                <th>title</th>
                <th>content</th>
                <th></th>
            </tr>
            {% for chunks in form.chunks %}
              <tr data-toggle="fieldset-entry">
                  <td>{{ chunks.concept }}</td>
                  <td>{{ chunks.title }}</td>
                  <td>{{ chunks.content }}</td>
                  <td><button type="button" data-toggle="fieldset-remove-row" id="chunks-{{loop.index0}}-remove">-</button></td>
              </tr>
            {% endfor %}
        </table>
        <button type="button" data-toggle="fieldset-add-row" data-target="#chunks-fieldset">+</button>

    </div>
    {{ form.submit }}
  </form>
  <!-- <form id="artifact-form" action="{{ url_for('artifacts.new') }}" method="POST">

    <label>Prerequisites</label>
    <div id="prereqs-taggle" class="taggle-textarea"></div>
    </br>

    <label>Title</label>
    <input type="text" name="title" placeholder="Title">
    </br>

    <label>Main Concept</label>
    <input type="text" name="main_concept" placeholder="Main concept">
    </br>

    <label>External Source</label>
    <input type="text" name="source_name" placeholder="Optional: Name of Source">
    <input type="text" name="source_link" placeholder="Optional: Source link">
    </br>

    <label>Description</label>
    <input type="text" name="description" placeholder="...">
    </br>

    <div class="form-row">
      <div class="col-auto">
        Media type:
        <select name="mediatype">
          <option value="0" selected="selected">Other</option>
          <option value="1">Text</option>
          <option value="2">Video</option>
        </select>
      </div>
      <div class="col-auto">
        Duration:
        <select name="duration">
          <option value="0" selected="selected">Other</option>
          <option value="1">Minutes/option>
          <option value="2">Days</option>
          <option value="3">Months</option>
        </select>
      </div>
    </div>


    <div id="artifacts-creator_wrapper">
    </div>
    <button type="button" class="btn btn-secondary" onclick="addChunk()">Add a Chunk</button>

    <input type="submit" value="Submit">
  </form> -->
</div>

{% endblock %}
