{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/artifacts/new.css') }}">
    <script src="{{ url_for('static', filename='js/artifacts/new.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/taggle/dist/taggle.min.js') }}"></script>
{% endblock %}

{% block app_content %}
<div class="container">
  <form id="artifact-form" onsubmit="SubmitHiddenInputs()" action="{{ url_for('artifacts.new') }}" method="POST">
    <!-- HIDDEN INPUTS -->
    <input id="hiddenInput_prereqs" type="hidden" name="prerequisites" value="hello!">
    <input id="hiddenInput_chunk_names" type="hidden" name="chunk_names" value="">
    <input id="hiddenInput_chunk_concepts" type="hidden" name="chunk_concepts" value="">
    <input id="hiddenInput_chunk_descriptions" type="hidden" name="chunk_descriptions" value="">
    <input id="hiddenInput_chunk_contents" type="hidden" name="chunk_contents" value="">
    <!-- HIDDEN INPUTS END -->

    <!-- VISIBLE INPUTS -->
    <div class="form-group">
      <label for="prereqs">Prerequisites</label>
      </br>
      <!-- <div id="prereqs-input" data-name="prereqs-input">
        <input type="text" id="prereqs-main-input" class="main-input">
      </div> -->
      <div id="prereqs-taggle" class="taggle-textarea">
      </div>
    </div>

    <label>Title</label>
    <input type="text" name="title" placeholder="Title">
    </br>

    <label>Main Concept</label>
    <input type="text" name="main_concept" placeholder="Main concept">
    </br>

    <label>External Source</label>
    <input type="text" name="source" placeholder="Source that is not me">
    </br>

    <label>Description</label>
    <input type="text" name="description" placeholder="...">
    </br>

    <div class="form-row">
      <div class="col-auto">
        Media type:
        <select name="mediatype">
          <option value="1">Text</option>
          <option value="2">Video</option>
          <option value="0">Other</option>
        </select>
      </div>
      <div class="col-auto">
        Time it takes:
        <input type"number" name="duration" > mins
      </div>
    </div>


    <div id="artifacts-creator_wrapper">
    </div>
    <button type="button" class="btn btn-secondary" onclick="addChunk()">Add a Chunk</button>

    <!-- VISIBLE INPUTS END -->
    <input type="submit" value="Submit">
  </form>
</div>

{% endblock %}
