{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="container">
  <form id="search-form" action="{{ url_for('artifacts.search') }}" method="POST">

    <div class="form-group">
      <h2>{{ form.title.label }}</h2>
      {{ form.title }}
    </div>
    <div class="form-group">
      <h2>Concepts</h2>
      {{ form.concept.label }}
      {{ form.concept }}
      {{ form.sub_concepts.label }}
      {{ form.sub_concepts }}
    </div>
    <div class="form-group">
      <h2>Metadata</h2>
      <div class="custom-control inline-radio">
        {{ form.mediatype.label }}:
        {{ form.mediatype(_class="custom-control-input") }}
      </div>
      <div class="custom-control inline-radio">
        {{ form.duration.label }}:
        {{ form.duration }}
      </div>
    </div>
    <!-- <div class="form-group">
      <h2>Related</h2>
    </div> -->
    {{ form.submit }}
  </form>

  {% if artifacts is defined %}
    <h2>Artifacts</h2>
    <div id="studyplan-list">
      {% for artifact in artifacts %}
        {% with artifact = artifact %}
          {% include "pages/_artifact_card.html" %}
          </br>
        {% endwith %}
      {% endfor %}
    </div>
  {% endif %}


</div>

{% endblock %}
