{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/artifacts/view.css') }}">
    <script src="{{ url_for('static', filename='js/artifacts/view.js') }}"></script>
    <!-- For search queries -->
    <script>
      var artifact_concept_id = {{ artifact.concept.id|safe }};
      var artifact_id = {{ artifact.id|safe }};
    </script>
{% endblock %}

{% block app_content %}
<div class="wrapper">
  <!-- MAIN STUDYPLAN INFO -->
  <div class="container content">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fa fa-rocket" aria-hidden="true"></i>
    </button>

    <div class="title">
      <h1> Title: {{artifact.title}} </h1>
      <p> {{artifact.description}} </p>

    </div>
    <h4>
      Prerequsites:
      {% for prerequisite in artifact.concept.prerequisites %}
        <span class="badge badge-pill badge-secondary clickable" onclick="searchRelated({{prerequisite.id}}, {{prerequisite.title}})">{{prerequisite.title}}</span>
      {% endfor %}
    </h4>

    <div class="chunks">
      {% for chunk in artifact.chunks %}
        {% with chunk = chunk %}
          {% include "artifacts/_chunk.html" %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>
  <!-- MAIN STUDYPLAN INFO END -->

  <!-- RELATED INFORMATION SIDEBAR -->
  <div id="search-sidebar">
    <h3 id="search-sidebar-title">Find Related</h3>
    <p>Click something in the artifact to find related information from other artifacts.</p>
    <p>You can click the title of the artifact itself, a chunk, or a reading.</p>
    <!-- <div class="search-selection">
      <span id="search-artifact" onclick="updateSearchSidebar(this.id)" class="badge clickable badge-secondary">Artifacts</span>
      <span id="search-resource" onclick="updateSearchSidebar(this.id)" class="badge clickable badge-secondary">Resources</span>
      <span id="search-relationships" onclick="updateSearchSidebar(this.id)" class="badge clickable badge-secondary">Bigger picture</span>
    </div> -->
    <div id="search-sidebar-content">
    </div>
  </div>
  <!-- RELATED INFORMATION SIDEBAR END -->
</div>
{% endblock %}
