{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1> Title: {{concept.title}} </h1>
    </div>

    <div class="row">
      {% with title = "Introduction", resources = concept.resources %}
        {% include "_concept_card.html" %}
      {% endwith %}

      {% for child in concept.children %}
        {% with title = child.title, resources = child.resources %}
          {% include "_concept_card.html" %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
