{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1> Title: {{concept.title}} </h1>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Introduction</h5>
            {% for resource in concept.resources %}
              <a href="{{resource.link}}" class="btn btn-primary">{{resource.name}}</a>
            {% endfor %}
          </div>
        </div>
      </div>

      {% for child in concept.children %}
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{child.title}}</h5>
              <a href="#" class="btn btn-primary">a resource</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
