{% if concepts is defined and concepts is not none and concepts != [] %}
  {% for concept, type in concepts %}
    <a onclick="searchConcept('{{concept.title}}')">
    {% if type == "first" %}
      <span class="badge badge-pill badge-first">
    {% elif type == "second" %}
      <span class="badge badge-pill badge-second">
    {% elif type == "up" %}
      <span class="badge badge-pill badge-up">
    {% elif type == "down" %}
      <span class="badge badge-pill badge-down">
    {% else %}
      <span class="badge badge-pill badge-secondary">
    {% endif %}
      {{concept.title}}
    </span>
    </a>
  {% endfor %}
{% else %}
  <i>Try searching something to see recommendations of related concepts!</i>
{% endif %}
