<div id="accordion">
  {% for concept in concepts %}
    <div class="card">
      <div class="card-header" id="heading-{{loop.index}}">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapsible-{{loop.index}}" aria-expanded="true" aria-controls="collapsible-{{loop.index}}">
            {{ concept.title }}
          </button>
        </h5>
      </div>

      <div id="collapsible-{{loop.index}}" class="collapse" aria-labelledby="heading-{{loop.index}}" data-parent="#accordion">
        <div class="card-body">
          {% if concept.artifacts|length == 0 %}
            <p> No artifacts found </p>
          {% else %}
            <!-- CAROUSEL -->
            <div id="carousel-{{loop.index}}" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner">
                <!-- CAROUSEL ITEMS -->
                  {% for artifact in concept.artifacts %}
                    {% if loop.index == 1 %}
                      <div class="carousel-item active">
                    {% else %}
                      <div class="carousel-item">
                    {% endif %}

                      {% with artifact = artifact %}
                        {% include "_artifact_card.html" %}
                      {% endwith %}
                    </div>

                  {% endfor %}
                <!-- CAROUSEL ITEMS END -->

              </div>
              <a class="carousel-control-prev" href="#carousel-{{loop.index}}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-{{loop.index}}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- CAROUSEL END -->
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
