<div id="menu" class="container">
  <div>
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-list-ul"></i>
    </button>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="prerequisites-tab" data-toggle="tab" href="#prerequisites" role="tab" aria-controls="prerequisites" aria-selected="true">
      <i class="fas fa-seedling"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="alternative-tab" data-toggle="tab" href="#alternative" role="tab" aria-controls="alternative" aria-selected="false">
      <i class="fa fa-tree" aria-hidden="true"></i>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="explore-tab" data-toggle="tab" href="#explore" role="tab" aria-controls="explore" aria-selected="false">
      <i class="fa fa-rocket" aria-hidden="true"></i>
    </a>
  </li>

</ul>

  <!-- <div>
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-list-ul"></i>
    </button>
  </div>

  <div>
    <button type="button" class="btn btn-info">
      <i class="fas fa-list-ul"></i>
    </button>
  </div>

  <div>
    <button type="button" class="btn btn-info">
      <i class="fa fa-rocket" aria-hidden="true"></i>
    </button>
  </div> -->
</div>
