<div id="search-sidebar">
  <!-- <h3 id="search-sidebar-title">Find Related</h3>
  <p>Find more relevant resources in the tabs below.</p>
  <p>If you are missing prerequisite knowledge, check out 'Prerequisites'.</p>
  <p>If you are want to find another resource on the same topic, check out 'Alternatives'.</p>
  <p>If you want to explore related topics, check out 'Learn More'.</p> -->

  <!-- <div class="search-selection">
    <span id="search-artifact" onclick="updateSearchSidebar(this.id)" class="badge clickable badge-secondary">Artifacts</span>
    <span id="search-resource" onclick="updateSearchSidebar(this.id)" class="badge clickable badge-secondary">Resources</span>
    <span id="search-relationships" onclick="updateSearchSidebar(this.id)" class="badge clickable badge-secondary">Bigger picture</span>
  </div> -->
  <div id="search-sidebar-content">
    <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="prerequisite-tab" data-toggle="tab" href="#prerequisite" role="tab" aria-controls="prerequisite" aria-selected="true">Prerequisites</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="alternative-tab" data-toggle="tab" href="#alternative" role="tab" aria-controls="alternative" aria-selected="false">Alternatives</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="more-tab" data-toggle="tab" href="#more" role="tab" aria-controls="more" aria-selected="false">Learn More</a>
    </li>
  </ul> -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="prerequisite" role="tabpanel" aria-labelledby="prerequisite-tab">
      Overview
    </div>
    <div class="tab-pane fade" id="alternative" role="tabpanel" aria-labelledby="alternative-tab">
      More
    </div>
    <!-- <div class="tab-pane fade" id="more" role="tabpanel" aria-labelledby="more-tab">...</div> -->
  </div>

  </div>
</div>
