<div id="search-sidebar">
  <div id="search-sidebar-content">
    <div class="tab-content" id="related-tabs-content">

      <div class="tab-pane fade show active" role="tabpanel">
        <h1 id="search-sidebar-title">Related Artifacts</h1>
        <p>Click one of the tabs by the side to explore related artifacts.</p>
        <p>If you are missing prerequisite knowledge, check out 'Prerequisites'.</p>
        <p>If you are want to find another resource on the same topic, check out 'Alternatives'.</p>
        <p>If you want to explore related topics, check out 'Learn More'.</p>
      </div>

      <div class="tab-pane fade" id="prerequisites" role="tabpanel" aria-labelledby="prerequisites-tab">
        <h1> Prerequisites </h1>
        <p> Strengthen your foundations. </p>

        {% with concepts = artifact.prerequisites.all() %}
          {% include "artifacts/view/_by_concept.html" %}
        {% endwith %}
      </div>

      <div class="tab-pane fade" id="alternative" role="tabpanel" aria-labelledby="alternative-tab">
        <h1> Alternatives </h1>
        <p> If this artifact isn't working for you, find another one on the same concept. </p>

        {% for alt_artifact in artifact.concept.artifacts %}
          {% if artifact.id != alt_artifact.id %}
            {% with artifact = alt_artifact %}
              {% include "artifacts/_artifact_card.html" %}
            {% endwith %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="tab-pane fade" id="explore" role="tabpanel" aria-labelledby="explore-tab">
        <h1> Deep dive </h1>
        <p> Explore the topics in more depth. </p>

        {% with concepts = artifact.chunks | map(attribute='concept') | list %}
          {% include "artifacts/view/_by_concept.html" %}
        {% endwith %}
      </div>

    </div>
  </div>
</div>
