/* GENERAL */
input[type=text] {
  width: 100%;
}

.inline-radio ul {
  display: inline-flex;
  list-style: none;

}

.inline-radio li {
  margin: 0 10px;
}

/* NAVBAR */

#navbar {
  background-color: #e3f2fd;
}

#navbar a {
  color: #6c757d;
}

/* ARTIFACT CARD */
.neutral-link:hover {
  text-decoration: None;
}
