/* GENERAL */
input[type=text], textarea {
  width: 100%;
}

.inline-radio ul {
  display: inline-flex;
  list-style: none;

}

.inline-radio li {
  margin: 0 10px;
}

.horizontal-rows {
  display: block;
}

.horizontal-rows tbody {
  display: flex;
}

.horizontal-rows tr {
  display: inline-block;
  flex: 0 0 50%;
  max-width: 50%;
}

.horizontal-rows th {
  display: None;
}

.horizontal-rows td {
  display: inline-block;
  width: -webkit-fill-available;
}

.horizontal-rows tr:not(:last-child){
  padding-right: 15px;
}

.clickable {
  cursor: pointer;
}

/* NAVBAR */

#navbar {
  background-color: #e3f2fd;
}

#navbar a {
  color: #6c757d;
}

/* ARTIFACT CARD */
.neutral-link:hover {
  text-decoration: None;
}

/* ARTIFACT CARD */
.artifact_card {
  color: #6c757d;
}

.artifact_card-metadata {
  display: inline-flex;
}

.artifact_card-metadata span {
  margin: 0 10px;
}
