.badge-first {
  background-color: green;
}

.badge-second {
  background-color: red;
}

.badge-up {
  background-color: yellow;
}

.badge-down {
  background-color: orange;
}

.search {
  background-color: #d1ecf1;
  margin-top: -1.5rem; /* bg-color under nav */
  padding: 1.5rem 0;
}

.related-badge {
  color: black;
}

.related-badge:hover {
  text-decoration: none;
}
