.wrapper {
    display: flex;
    /* width: 100%; */
    align-items: stretch;
}

.content {
  flex: 1;
  padding: 3%;
}

.artifact-metadata i {
  font-size: 20px;
}

.artifact-metadata span {
  margin-right: 20px;
}

/* Menu */
#menu {
  flex: 0 0 100px;  /* fixed width */
}

.roundBtn {
  border-radius: 50%;
  font-size: 40px;
  height: 70px;
  width: 70px;
}

/* Sidebar */
#search-sidebar {
    flex: 0;
    display: None;
    padding: 3%;
    background: #d1ecf1;
    transition: all 0.3s;
    min-height: 100vh;
    margin-top: -1.5em;
}

#search-sidebar-content {
  padding-top: 2em;
}

#search-sidebar.active {
    flex: 1;
    display: block;
    transition: all 0.3s;
}

.clickable {
  cursor: pointer;
}

a .reading_card {
  color: black;
}

/* Tabs */
.nav-tabs {
  border-bottom: None;
  margin-left: auto;
  margin-right: auto;
}

#related-tabs {
  display: None;
  transition: all 0.3s;
}

#related-tabs.active {
    display: flex;
}

#related-tabs i {
    width: 10px;
}

#related-tabs .nav-link.active, .nav-link:hover {
  border-color: transparent;
  border-radius: .25em;
  background-color: #d1ecf1;
}
