.wrapper {
    display: flex;
    /* width: 100%; */
    align-items: stretch;
}

.content {
  flex: 1;
  padding: 3%;
}

/* Overview */

/* Trigger */
#sidebarCollapseWrapper {
  position: relative;
  width: 0;
  height: 0;
}


#sidebarCollapse {
  position: absolute;
  left: 3%;
  border-radius: 50%;
  font-size: 40px;
  height: 70px;
  width: 70px;
}

/* Sidebar */
#search-sidebar {
    flex: 0;
    display: None;
    padding: 3%;
    height: 100vh;
    background: #dfdfdf;
    transition: all 0.3s;
}

#search-sidebar.active {
    flex: 1;
    display: block;
    transition: all 0.3s;
}

.clickable {
  cursor: pointer;
}

a .reading_card {
  color: black;
}
